.closeIcon{
    float: right;
    position: relative;
    cursor: pointer;
}

.line{
    width: 100%;
    border-bottom: solid 2px;
    margin-top: 5px;
}

.main_dialog{
    background-color: aquamarine;
}

.mat-dialog-container{
    background-color: aquamarine !important;
}